/.next
node_modules/**
package.json
package-lock.json
yarn.lock
.vscode
.prettirrc
.eslintrc.js
.nvmrc
.watchmanconfig
.prettierignore
.prettierrc.js
.eslintrc.js
tsconfig.json
next.config.ts
postcss.config.mjs
vercel.json
.github/workflows/*
docs/*
reports/*